* {
  box-sizing: border-box;
}

/* navigation edit start */

.nav>li {
  border-bottom: 1px solid #e7e7e7;
}
.nav>li:nth-child(3) {
  border:0;
}

.navbar {
  border-radius: 0;
}
.navbar-nav {
  margin:0;
  margin-left: -15px;
  margin-right: -15px;
}

/* navigation edit end */

.row {
  margin: 20px;
}

.container {
  border: 0px solid black;
  background-color: white;
}
p {
  /*padding:10px;*/
}

.menu-item {
  background: #cccccc;
}

